/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

/* Barra de navegacion */
* {
    font-family: 'Tinos', serif;

}

.navbar {
    padding: 2rem;
    background-color: #f5f4f4;
}



.navbar-collapse {
    align-items: center;
    justify-content: end;
}

/*Boton arriba*/
.ir-arriba {
    display: none;
    padding: 1px 10px;
    background: #0e67af;
    font-size: 40px;
    color: #e6e6e6;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
}

/*Estilos generales*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: 'Press Start 2P', cursive;
    background: #000000;
    background: #000000;
    background: linear-gradient(to bottom, #000000 28%, #f5f4f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}


.seccion-oscura {
    color: #f5f4f4;
    background-color: #000000;
}

.seccion-clara {
    color: rgb(0, 0, 0);
    background-color: #f5f4f4;
}

.seccion-titulo {
    font-size: 1.5rem;
    padding: 15px 0;
    font-family: 'Press Start 2P', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #5f5e5e;
}

.seccion-texto {
    font-size: 1.2rem;
}

.btn-info {
    font-size: 1.1rem;
    margin: 10px;
}

.texto-negro {
    color: #000000;
}

.texto-blanco {
    color: #f5f4f4;
}

/*Section Hero*/
.hero {
    background-color: #f5f4f4;
    min-height: 450px;
    text-align: center;

}

.hero-principal {
    padding: 3rem;
}


.hero-imagen-desarrollador {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    border: 6px double #2e231d;
    background: #f5f4f4;
    width: 200px;
    animation-name: inicio;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    margin-bottom: 45px;

}

.hero-principal h2 {
    font-size: 1.4rem;
    color: #5f5e5e;

}



.hero-inferior {
    background: #040404;
}

.madera {
    fill: #0e67af;
}

.escritorio {
    stroke: #f5f4f4;
    stroke-width: 0.7px;
}


/*Sobre mi*/

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}


/*Experiencia*/

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 5px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;

}



.experiencia i {
    font-size: 2.5rem;
    color: #0e67af;
    background-color: #111010;
    padding: 4px 15px;
    border-radius: 50%;
    margin-top: 10px;

}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    margin: 10px 0;
}

.experiencia .descript {
    font-size: medium;
}

.badges-contenedor {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;

}



/*Proyectos*/
.proyecto {
    position: relative;
}

.proyectos-recientes {
    padding: 40px;
    background-color: #e2e1e1;

}


.proyectos-recientes img {
    height: 215px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    border: 1px solid rgb(56, 56, 56);
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding: 60px 0px 0px 0px;
    margin-bottom: 20px;
}


.overlay {
    transition: all .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-decoration-line: underline;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay iconify-icon {
    color: #000000;
    font-size: 3rem;

    margin: auto;
    margin-top: 10px;
}

.overlay i {
    color: #000000;
    font-size: 3rem;
    margin: 10px;
}

/*Articulos*/
.articulos {
    min-height: 670px;
    padding: 30px;
    background-color: #f5f4f4;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}



/*Testimonios*/

.testimonios {
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
    max-width: 800px;

}

.carousel-item .container {
    height: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen {
    width: 150px;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.testimonio-info p {
    margin-bottom: 0;
}

.testimonio-footer .cliente {
    font-size: 1.2rem;
}

.testimonio-info .cargo {
    font-size: 0.9rem;
    color: #5f5e5e;
}

.carousel-item {
    min-height: 500px;
    max-height: 1000px;
    max-width: 900px;
    margin-top: auto;
}

/*Contacto*/

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: #0e67af;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
    color: white;
    font-size: 1.2rem;
    margin: 5px;
    transition: all 0.2s ease-in-out;
}

/*Pie de pagina*/

footer {
    min-height: 500px;
}

.footer-icono {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.fotter-texto {
    font-size: 1.1rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all .2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*Adaptable responsive*/

@media (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .articulos {
        min-height: 800px;
    }

    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 35px;
    }

    .overlay iconify-icon {
        font-size: 35px;
    }

    .proyectos-recientes {
        padding: 3.5%;
    }

    .experiencia {
        padding: 3.5%;
    }

    .seccion-texto {
        font-size: medium;
    }
}

/*Animaciones hover*/

.hero-imagen-desarrollador:blank {
    width: 230px;
    box-shadow: 3px 22px 17px rgba(169, 216, 248, 0.94);

}

.experiencia .columna:hover {
    color: #f5f4f4;
    background-color: #111010;
}

.proyecto:hover img {
    opacity: .2;
    height: 225px;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.contacto button:hover {
    background-color: white;
    color: #000000;
}

.contacto button i {
    color: #000000;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(15, 147, 199);
}

.ir-arriba:hover {
    border: 1px dashed #00fff8;
}

.iconos-redes-sociales a:hover i {
    color: black;
}

::-webkit-scrollbar {
    display: none;
}


@keyframes inicio {

    0% {
        width: 205px;
    }

    15% {
        width: 215px;
    }

    20% {
        width: 225px;
    }

    25% {
        width: 230px;
    }

    50% {
        box-shadow: 3px 22px 17px rgba(169, 216, 248, 0);
        width: 230px;
    }

    75% {
        box-shadow: 3px 22px 17px rgba(66, 214, 251, 0.564);
        width: 230px;
    }

    90% {
        box-shadow: 3px 22px 17px rgba(117, 222, 249, 0.564);
        width: 230px;
    }

    100% {
        width: 230px;
        box-shadow: 3px 22px 17px rgba(169, 216, 248, 0.94);
    }
}